*{
  margin:0%;
  padding:0;
  box-sizing:border-box;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:burlywood;
  }


  body{
    margin:0px;
    background-image:url(images/pexels-henry-&-co-2341290.jpg);
  }
 
  /* This to get the whole navigation bar to fill */

  li {
    float:right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration:dotted;
  }
  
  li a:hover {
    background-color: #111;
  };

  div.content{
    text-align:right;
  }

  /* Main Page Photos */
  div.gallery {
    margin: 10px;
    float:left;
    padding:0;
  }

  #image1{
    display: block;
    margin-left:73.4%;
    padding: 2px;
    position:absolute;
  }
  

  /* Logo Baruch Psychology */
.logo{
  display:block;
  margin-left:auto;
  margin-right:auto;
  width: 20%;
}

.slide{
  display: block;
  margin:5%;
}

.logo1,.logo2{
  display:block;
  margin-left:auto;
  margin-right:auto;
  width: 20%;
}

.slide2{
  display: block;
  margin:5%;
}

.wrapper.four {
  font-size: 70%;
  float: left;
  font-family: 'Righteous', cursive;
}
.four .type{
  padding: 1rem 1rem;
  width: auto;
  margin: auto;
}
.four h3 {
  width: 110ch;
  border-right: 4px solid black;
  margin: 1rem auto;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(13, end), blink-caret 0.5s step-end infinite alternate;
}
@keyframes typing {
  from {
      width: 0;
  }
  }
@keyframes blink-caret {
  50% {
      border-color: transparent;
  }
}

.main{
  height:70vh;
  width:100%;  
  display:flex;
  align-items:left;
  justify-content:left;
  text-align:left;
  font-family: 'Righteous', cursive;
  font-size:50%;
  padding:2%;
}

h1{
  text-align:center;
  text-transform: uppercase;
  color: black; 
  font-size: 2rem;
}

.roll{
  height: 4.125rem;
  line-height: 4rem;
  position: relative;
  overflow: hidden; 
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  color:burlywood;
}

.roll #rolltext {
  position: absolute;
  top: 0;
  animation: slide 5s infinite;  
}

@keyframes slide {
  0%{
    top:0;
  }
  25%{
    top: -4rem;    
  }
  50%{
    top: -8rem;
  }
  72.5%{
    top: -12.25rem;
  }
}

/* Contact Form Page */
.box{
  width:100%;
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
}

form{
  background:white;
  display:flex;
  flex-direction:column;
  padding: 2vw 4vw;
  width:90%;
  max-width:600px;
  border-radius:10px;
}

form h3{
color:black;
font-weight:800;
margin-bottom:20px;
}

form input, form textarea{
border:0;
margin: 5px 0;
padding:20px;
outline:none;
background:lightgray;
font-size: 16px;
}

form button{
  padding:15px;
  background:whitesmoke;
  color:#111;
  font-size:18px;
  border:0;
  outline:none;
  cursor:pointer;
  width:150px;
  margin: 20px auto 0;
  border-radius: 30px;
}






